header {
    text-align: center;
    background-image: linear-gradient(to right, red , yellow);
    color: black;
    font-size: 172%;
}

h2 {
    text-align: center;
    color:orange;
    background-image: linear-gradient(to right, red, red);
    font-size: 2em;
}


article{
    text-align: center;
    background-image: linear-gradient(to right, blue, blue);
    color: black;
    font-size: 1.5em;
    
}