header {
    text-align: center;
    background-image: linear-gradient(to right, red , yellow);
    color: black;
    font-size: 172%;
}

h2 {
    text-align: center;
    font-size: 35px;
    background: -webkit-linear-gradient(blue, red, yellow);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


article{
    text-align: center;
    color: black;
    font-size: 1.5em
}
p {
    text-align: right;
}